<% if @error_message %>
<div class="alert alert-danger">
    <%= @error_message %>
</div>
<% end %>
<% form params, action: '/auth/password/callback' do %>
    <%= hidden :on_success, params['on_success'] %>
    <%= hidden :on_failure, params['on_failure'] %>

    <%= field :email, value: params['email'] %>
    <%= field :password, hint: link_to( '/user/request_password_reset', 'Forgot your password?') %>
    <%= field :remember_me, as: :checkbox %>

    <%= button "Log in" %>
    <% if Aerogel::Auth.enabled_providers.size > 1 %>
    <span>
    , or log in using
    <%= partial "user/login/social_links" %>
    </span>
    <% end %>
<% end %>


<h3>or <a href="/user/register">create account</a></h3>