<% page_title 'User profile' %>

<% form current_user do %>
    <%= field :full_name, readonly: true %>
    <% fieldset :emails do %>
        <%= field :email, readonly: true %>
        <%= field :confirmed, readonly: true %>
    <% end %>
<p>
    Can log in using:
    <%= current_user.authentications.map(&:provider).map{|p| icon("#{Aerogel::Auth.providers[p][:icon]} fa-2x",
        title: Aerogel::Auth.providers[p][:name] ) }.join(',') %>
</p>
<p>
    <%= link_to '/user/edit', 'Edit user profile' %>
</p>

<% end %>
