<div class="page-header">
  <h1>User profile</h1>
</div>

<% form current_user do %>
    <%= field :full_name, readonly: true %>
    <% fieldset :emails do %>
        <%= field :email, readonly: true %>
        <%= field :confirmed, readonly: true %>
    <% end %>
<p>
    Can log in using:
    <%= current_user.authentications.map(&:provider).map{|p| icon("fa-#{p}-square fa-2x", title: p)}.join(',') %>
</p>
<p>
    <%= link_to '/user/edit', 'Edit user profile' %>
</p>

<% end %>
