<div class="page-header">
  <h1>Create account</h1>
</div>

<% form @user_registration_form do  %>
    <%= field :full_name %>
    <%= field :email %>
    <%= field :password %>
    <%= field :password_confirmation %>
<%= button 'Create' %>

<% end %>
